@charset 'utf-8';

/* 共通部分 */
html {
  font-size: 100%
}
body {
  color: #333333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/* コンテンツ幅を設定するための共通クラス */
.wrapper {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px;
}
/* セクションタイトル用の共通クラス */
.sec-title {
  position: relative;
  margin-bottom: 60px;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
.sec-title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  width: 80px;
  height: 3px;
  margin: 0 auto;
  background-color: #333;
}

/* Header */
.header {
  height: 100px;
  padding: 25px 0 0 25px;
}
.header__site-title {
  width: 100px;
  line-height: 1px;
}
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: #ff2A2A;
  text-align: center;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;
  opacity: 0;
}
.header__nav.open {
  opacity: 1;
  visibility: visible;
}
.header__nav-logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 100px;
}
.header__menu {
  margin-top: 110px;
}
.header__menu-item + .header__menu-item {
  margin-top: 20px;
}
.header__menu-link {
  color: #ffffff;
  font-weight: bold;
}
.header__btn {
  display: block;
  position: relative;
  width: 250px;
  margin: 40px auto 0;
  padding: 15px 0;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  transition: .3s ease-in-out;
}
.header__btn::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: -6px;
  width: 250px;
  padding: 15px 0;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
}
.header__btn:hover {
  background-color: #ffffff;
  color: #ff2a2a;
}
.header__hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  width: 75px;
  height: 75px;
  background-color: #ff2a2a;
  cursor: pointer;
  transition: .3s;
}
.header__hamburger:hover {
  opacity: .7;
}
.header__hamburger-line {
  position: absolute;
  left: 21px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  transition: .3s ease-in-out;
}
.header__hamburger-line--top {
  top: 26px;
}
.header__hamburger-line--middle {
  top: 37px;
}
.header__hamburger-line--bottom {
  top: 48px;
}
.hamburger.open .header__hamburger-line--top {
  top: 37px;
  left: 21px;
  transform: rotate(-45deg);
}
.hamburger.open .header__hamburger-line--middle,
.hamburger.open .header__hamburger-line--bottom {
  top: 37px;
  transform: rotate(45deg);
}

/* Mainvisual */
.mainvisual {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 490px;
}
.mainvisual__text {
  position: absolute;
  top: 310px;
  left: 16px;
  width: calc(100% - 32px);
}
.mainvisual__title {
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0 4px 6px #fff;
}
.mainvisual__btn {
  display: block;
  position: relative;
  margin-top: 10px;
  padding: 15px 0;
  border-radius: 10px;
  border-bottom: 6px solid #9a0413;
  background-color: #ff2a2a;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  transition: .3s;
}
.mainvisual__btn::after {
  content: '';
  position: absolute;
  top: 26px;
  right: 30px;
  width: 16px;
  height: 16px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
}
.mainvisual__btn:hover {
  opacity: .9;
  transform: scale(1.05);
}
.mainvisual__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: fade 15s infinite;
}
.mainvisual__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}
.mainvisual__item:nth-child(1) {
  animation-delay: 0s;
}
.mainvisual__item:nth-child(2) {
  animation-delay: 5s;
}
.mainvisual__item:nth-child(3) {
  animation-delay: 10s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.mainvisual__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Reason */
.reason {
  margin-top: 80px;
}
.reason__bg {
  padding: 40px 0;
  background-color: #ff2A2A;
}
.reason__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: calc(100% - 16px);
  padding: 5%;
  background-color: #ffffff;
}
.reason__item--left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.reason__item--right {
  margin-top: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.reason__icon {
  height: 60px;
}
.reason__text-title {
  display: block;
  color: #ff2a2a;
  font-size:  1.5rem;
  font-weight: bold;
}
.reason__text-desc {
  display: block;
  font-size: 1.125rem; 
}

/* Vioce */
.voice {
  margin-top: 80px;
}
.voice__item {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
.voice__item + .voice__item {
  margin-top: 40px;
}
.voice__student-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #cccccc;
}
.voice__student {
  text-align: center;
}
.voice__student-name {
  margin-top: 10px;
  font-size: .75rem;
}
.voice__item--left .voice__balloon,
.voice__item--right .voice__balloon {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  background-color: #E9F1FB;
}
.voice__item--left .voice__balloon::before,
.voice__item--right .voice__balloon::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #e9f1fb;
  transform: translateX(-50%);
}

/* Summary */
.summary {
  margin-top: 80px;
  padding: 60px 0;
  background: url('../img/bg.gif') repeat;
  animation: fall 10s infinite linear;
}
@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}
.summary__item {
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff;
}
.summary__item + .summary__item {
  margin-top: 32px;
}
.summary__item-title {
  text-align: center;
}
.summary__item-ja,
.summary__item-en {
  display: block;
  font-weight: bold;
}
.summary__item-ja {
  font-size: 1.5rem;
}
.summary__item-en {
  margin-top: 15px;
}
.summary__item-text {
  margin-top: 30px;
}

/* Entry */
.entry {
  text-align: center;
}
.entry__title,
.entry__btn {
  font-size: 1.5rem;
  font-weight: bold;
}
.entry__title {
  margin-top: 80px;
}
.entry__catchphrase {
  margin-top: 5px;
}
.entry__btn {
  display: block;
  margin-top: 40px;
  padding: 15px 0;
  border: solid 3px #ff2a2a;
  border-radius: 40px;
  background-color: #ff2A2A;
  color: #ffffff;
  text-align: center;
  transition: .3s;
}
.entry__btn:hover {
  background-color: #fff;
  border: solid 3px #ff2a2a;
  color: #ff2A2A;
}

/* Footer */
.footer {
  margin-top: 80px;
  padding: 60px 0 20px;
  background-color: #E8E8E8;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;
}
.footer__column {
  width: 50%;
}
.footer__title {
  font-size: .9375rem;
  font-weight: bold;
}
.footer__menu {
  margin: 10px 0 0 10px;
}
.footer__menu-item + .footer__menu-item {
  margin-top: 3px;
}
.footer__menu-link {
  font-size: .75rem;
  transition: .3s;
}
.footer__menu-link:hover {
  opacity: .7;
}
.footer__copyright {
  margin-top: 60px;
  font-size: .625rem;
  text-align: center;
}

@media (min-width: 900px) {
  /* 共通部分 */
  .wrapper {
    padding: 0;
  }
  .sec-title {
    margin-bottom: 100px;
    font-size: 2.25rem;
  }
  .sec-title::after {
    width: 100px;
  }

  /* Header */
  .header {
    padding: 40px 0 0 50px;
  }
  .header__nav-logo {
    top: 40px;
    left: 50px;
  }
  .header__menu {
    margin-top: 80px;
  }
  .header__hamburger {
    width: 100px;
    height: 100px;
  }
  .header__hamburger-line {
    left: 25px;
    width: 50px;
    height: 2px;
  }
  .header__hamburger-line--top {
    top: 36px;
  }
  .header__hamburger-line--middle {
    top: 50px;
  }
  .header__hamburger-line--bottom {
    top: 64px;
  }
  .hamburger.open .header__hamburger-line--top {
    top: 47px;
    left: 25px;
  }
  .hamburger.open .header__hamburger-line--middle,
  .hamburger.open .header__hamburger-line--bottom {
    top: 47px;
  }

  /* Mainvisual */
  #mainvisual {
    flex-direction: column;
    height: 720px;
  }
  .mainvisual__text {
    display: inline-block;
    top: 280px;
    left: 10%;
    z-index: 10;
    width: initial;
  }
  .mainvisual__title {
    display: inline-block;
    font-size: 2.875rem;
  }
  .mainvisual__btn {
    width: 100%;
    margin-top: 30px;
  }
  .mainvisual__item {
    top: 0;
    right: 0;
    left: initial;
    width: 75%;
  }
  .mainvisual__img {
    height: 720px;
  }

  /* Reason */
  .reason {
    margin-top: 120px;
  }
  .reason__bg {
    padding: 80px 0;
  }
  .reason__item {
    width: 50%;
  }
  .reason__text-title {
    font-size: 1.75rem;
  }

  /* Vioce */
  .voice {
    margin-top: 120px;
  }
  .voice__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
  }
  .voice__item + .voice__item {
    margin-top: 60px;
  }
  .voice__item--right {
    flex-direction: row-reverse;
  }
  .voice__balloon {
    width: 60%;
  }
  .voice__item--left .voice__balloon::before,
  .voice__item--right .voice__balloon::before {
    top: 60%;
    left: initial;
    border-top: none;
    transform: initial;
  }
  .voice__item--left .voice__balloon::before {
    right: 100%;
    border: 15px solid transparent;
    border-right: 15px solid #e9f1fb;
  }
  .voice__item--right .voice__balloon::before {
    left: 100%;
    border: 15px solid transparent;
    border-left: 15px solid #e9f1fb;
  }

  /* Summary */
  .summary__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .summary__item {
    padding: 60px;
  }
  .summary__item + .summary__item {
    margin-top: 0;
  }
  .summary__item-ja {
    font-size: 1.75rem
  }
  .summary__item-en {
    font-size: 1.125rem;
  }

  /* Entry */
  .entry__title {
    margin-top: 120px;
    font-size: 2rem;
  }
  .entry__catchphrase {
    font-size: 1.125rem;
  }
  .entry__btn {
    font-size: 1.75rem;
  }

  /* Footer */
  .footer {
    margin-top: 120px;
  }
  .footer__inner {
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer__title {
    font-size: 1rem;
  }
  .footer__menu-link {
    font-size: .875rem;
  }
}
